*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia', sans-serif;
}
/* -------------------------Navigation Bar-------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-around;
    background: #F1ECE4;
}
.navlist {
    display: flex;
    list-style: none;
    transition: right 0.7s ease;
}
.navlist li a {
    margin: 0 15px;
    color: #577592;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.navlist li a:hover {
    color: #00535e;
}
.appoint {
    padding: 14px 29px;
    background: #00535e;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.appoint:hover {
    background: #ffcc43;
}
#icon {
    font-size: 32px;
    cursor: pointer;
    display: none;
    color: #577592;
}
@media (max-width: 1090px) {
    .header {
        justify-content: space-between;
    }
}
@media (max-width: 996px) {
    .navlist li a {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    #icon {
        display: block;
    }
    .navlist {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background: #F1ECE4;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }
    .navlist.open {
        left: 0;
    }
    .navlist li {
        margin: 20px 0;
    }
    .appoint {
        font-size: 14px;
        padding: 10px 20px;
    }
    .nav-right {
        display: flex;
        gap: 10px;
    }
}
  /* ----------------------dropdown----------------------- */

  .dropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
.drop:hover .dropdown{
    display: block;
}
.dropdown p a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    font-size: 18px;
    color: #577592;
    padding: 12px 16px;
}


/* ----------slider--------------- */
.slider {
    display: none; /* Hide all slides initially */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.image-slider {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 700px; /* Set height */
}
.slider img {
    width: 100%;
    height: 700px;
    /* object-fit: cover; */
}

.slider:first-child {
    opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .image-slider {
        max-height: 300px;
    }
}



.Services {
    background-color: #f1ece4;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 80px;
}
.heading {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 20px;
    
}
.heading span {
    color: #ffcc43;
}
.service-card {
    background-color: white;
    height: 323px;
    width: 345px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
}
.service-card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.service-card img {
    height: 200px;
    width: 100%;
    padding: 10px;
}
.service-card p {
    color: #00535e;
    font-size: 24px;
    text-align: center;
}
.but {
    display: flex;
    justify-content: center;
    align-items: center;
}
.but button {
    border: 2px solid #ffcc43;
    font-size: 16px;
    border-radius: 10px;
    transition: all .5s;
    height: 45px;
    width: 150px;
    margin-top: 10px;
    color: #ffcc43;
    background-color: #fff;
} 
.but button:hover {
    transition: all 3s;
    color: white;
    background-color: #00535e;
    border: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     /* align-items: center; */
    justify-content: space-evenly;

}
.brand {
    margin-top: 20px;
}
.card-image img {
    /* height: 170px; */
    position: relative;
    height: 150px;
    width: 230px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #FFF;
}
.card-content h2 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-left: 40px;
    margin-top: 25px;
}
.card-content button {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #ffcc43;
    border-radius: 6px;
    margin-top: 14px;
    margin-left: 50px;
    transition: all 0.5s;
}
.card-content button:hover {
    background-color: #00535e;
}

.card-slider {
    display: flex;
    justify-content: center;
    gap: 50px;
    scroll-behavior: smooth;
    margin-top: 50px;
    overflow: auto;
    scrollbar-width: none;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}
.banner {
    position: relative;
    width: 37%;
}
.banner h1 {
    font-size: 32px;
    font-weight: bold;
}
.banner-container .banner .content span {
     display: flex;
    line-height: 24px;
    text-align: justify;
    color: #666;
    font-size: 16px;
}
.book {
    height: 40px;
    width: 200px;
    font-size: 16px;
    border: none;
    background-color: #00535e;
    color: #FFF;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease;
}
.book:hover {
    background-color: #ffcc43;
}
.banner img {
    height: 350px;
    width: 350px;
    object-fit: contain;
    transition: all 1s ease;
}
.banner img:hover {
    transform: scale(1.3);
}
@media (max-width: 1050px) {
    .banner-container {
        flex-direction: column;
        align-items: center;
    }
    .banner {
        width: 90%;
    }
}

.about {
    font-size: 32px;
    font-weight: bold;
}
.icons-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.icons {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 450px;
    text-align: center;
    border-radius: 5PX;
    padding: 30PX;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)

}
.icons h3 {
    font-size: 20px;
    padding: 10px 0;
    color: #577592;
} 
.icons p {
    font-size: 16px;
    color: #666;
}
.multitype-data {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 32px;
    width: 97%;
    /* margin: 20px 40px; */
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.multitype-data h3{
    font-size: 30px;
    color: #577592;
    padding: 10px;
}
.input-box input {
    width: 48%;
    height: 40px;
    margin: 8px 10px 5px 10px;
    padding-left: 5px;
    color: #666;
    font-size: 17px;
    border: 1px solid rgb(0 0 0 / 30%);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 15px;
}
.input-box {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.message-box textarea {
    /* height: 100px; */
    width: 98%;
    margin-left: 10px;
    border-radius: 15px;
    padding: 10px;
    font-size: 17px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    /* resize: none; */

}
.btn5 {
    display: inline-block;
    height: 40px;
    width: 180px;
    margin: 8px 10px;
    font-size: 17px;
    text-transform: capitalize;
    color: white;
    background-color: #00535e;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.btn5:hover {
    background-color: #ffcc43;
}
iframe {
    margin-left: 40px;
    height: 500px;
    width: 97%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.share {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.apps {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00535e;
    font-size: 30px;
    color: #F1ECE4;
}
.apps i {
    font-size: 30px;
    color: white;
    transition:  0.3s ease-in-out;
}
.apps i:hover {
    transform: rotate(360deg);
}
.footer {
    padding: 25px;
    background-color: #00535e;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.footer-links p {
    color: #fff;
    font-size: 22px;
}
.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
@media (max-width: 890px) {
    .footer-links p {
        font-size: 18px;
    }
    .footer-links a {
        font-size: 16px;
    }
}
@media (max-width: 680px) {
    .footer-links p {
        font-size: 16px;
    }
    .footer-links a {
        font-size: 14px;
    }
}


/* -------------------------------------about section------------------------------- */

.about-web {
    display: flex;
    gap: 10px;
    background-color: #ffcc43;
    padding: 25px;
    margin-top: 102px;
    margin-bottom: 30px;
}
.about-web a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.str {
    font-weight: 400;
    font-size: 32px;
    color: #0a4870;
}
.about-section {
    padding: 32px 9%;
}
.about-section  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    /* display: flex; */
    text-align: justify;
}
.about-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin-top: 20px;

}
.about-img .imgWrapper {
    overflow: hidden;
}
.imgWrapper img {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    object-fit: cover;
    transition: all 1.3s ease;
}
.imgWrapper img:hover {
    transform: scale(1.5);
}
.contentWrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.contentWrapper span{
    font-size: 32px;
    font-weight: 400;

}
.contentWrapper span p {
    font-size: 18px;
}

  